<% layout('boilerplate') -%>

    <div class="container-fluid container-register">

        <div class="row-item row justify-content-center m-3">
            <div class="col-item col-lg-6 col-12 p-lg-5 p-3 box-shadow">
                <form id="updateaccount" action="/api/v1/account?_method=PUT" method="POST" class="validate-form"
                    novalidate>

                    <H1 class="text-center">My ACCOUNT</H1>

                    <div class="row">
                        <div class="col p-3 pb-0">

                            <!-- First name input -->
                            <div class="form-outline mb-4">
                                <div class="row">
                                    <div class="col-3 d-flex align-items-center">
                                        <label class="account-label form-label" for="firstname">First name</label>
                                    </div>
                                    <div class="col-9"> <input type="text" id="firstname" class="form-control"
                                            name="firstname" placeholder="<%=userObject[0].firstname %>"
                                            value="<%=userObject[0].firstname %>" />
                                    </div>
                                </div>
                            </div>
                            <!-- Last name input -->
                            <div class="form-outline mb-4">
                                <div class="row">
                                    <div class="col-3 d-flex align-items-center">
                                        <label class="account-label form-label" for="lastname">Last name</label>
                                    </div>
                                    <div class="col-9"> <input type="text" id="lastname" class="form-control"
                                            name="lastname" placeholder="<%=userObject[0].lastname %>"
                                            value="<%=userObject[0].lastname %>" />
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">

                                <div class="row">
                                    <div class="col-3 d-flex align-items-center">
                                        <label class="account-label form-label" for="email">Email address</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="email" id="email" class="form-control" name="email"
                                            placeholder="<%=userObject[0].email %>" disabled />
                                    </div>
                                </div>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <div class="row">
                                    <div class="col-3 d-flex align-items-center">
                                        <label class="account-label form-label" for="password">Password</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" id="password" class="form-control" name="password"
                                            placeholder="*******" disabled />
                                    </div>
                                </div>
                            </div>
                </form>
                <form action="/api/v1/account?_method=DELETE" method="POST" id="formdeleteaccount">
                </form>

                <div class=" d-flex justify-content-end">
                    <!-- Submit button -->
                    <button type="submit" form="updateaccount" class="btn btn-block mx-2">Save changes</button>

                    <button type="submit" form="formdeleteaccount" class="btn btn-danger ms-2">Delete
                        Account</button>

                </div>

            </div>
        </div>


    </div>
    </div>

    </div>