<% layout('boilerplate') -%>

    <div class="container-fluid container-register">

        <div class="row-item row justify-content-center m-3">
            <div class="col-item col-lg-6 col-12 p-lg-5 p-3 box-shadow">
                <form action="/api/v1/account?_method=PUT" method="POST" class="validate-form" novalidate>

                    <H1 class="text-center">My ACCOUNT</H1>

                    <div class="row">
                        <div class="col p-3 pb-0">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <!-- First name input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="firstname">First name</label>
                                        <input type="text" id="firstname" class="form-control" name="firstname"
                                            placeholder="<%=userObject[0].firstname %>"
                                            value="<%=userObject[0].firstname %>" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <!-- Last name input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="lastname">Last name</label>
                                        <input type="text" id="lastname" class="form-control" name="lastname"
                                            placeholder="<%=userObject[0].lastname %>"
                                            value="<%=userObject[0].lastname %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <!-- Country input -->
                                    <!-- <div class="form-outline mb-4">
                                    <label class="form-label" for="firstname">Country</label>
                                    <input type="text" id="country" class="form-control" name="country"
                                        placeholder="Country" />
                                </div> -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="country">Country</label>

                                    <select class="form-select form-select mb-3" id="country"
                                        aria-label=".form-select-lg example">
                                        <option selected>Country</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <!-- Birthday input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="dob">Birthday</label>
                                        <input type="date" id="dob" class="form-control" name="dob"
                                            placeholder="<%=userObject[0].dob%>" value="<%=userObject[0].dob%>" />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email address</label>
                                        <input type="email" id="email" class="form-control" name="email"
                                            placeholder="<%=userObject[0].email %>" disabled />
                                    </div>

                                </div>
                                <div class="col-md-6 col-12">
                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="password" class="form-control" name="password"
                                            placeholder="*******" disabled />
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-block mb-4">Save changes</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>